<!--INÍCIO DO MENU -->
<div class="col-md-6 col-xs-12">

    <div class="menu-item-info-box">
        <span class="menu-item-info-box-icon"><img src="assets/img/icon/watch.png"></span>

        <div class="menu-item-info-box-content">
          <span class="menu-item-info-box-text">Alugar </span>
          <span class="menu-item-info-box-detail">Alugue por 3 dias</span>
          <span class="menu-item-info-box-price">R$ 3,90</span>
          <a class=""><i class="fa fa-plus-circle"></i> Adicionar</a>
        </div>
        <!-- /.info-box-content -->
      </div>
    <!-- /.info-box -->


    <div class="menu-item-info-box">
        <span class="menu-item-info-box-icon"><img src="assets/img/icon/buy.png"></span>

        <div class="menu-item-info-box-content">
          <span class="menu-item-info-box-text">Comprar </span>
          <span class="menu-item-info-box-detail">Obtenha em HD</span>
          <span class="menu-item-info-box-price">R$ 39,90</span>
          <a class=""><i class="fa fa-plus-circle"></i> Adicionar</a>
        </div>
        <!-- /.info-box-content -->
      </div>
    <!-- /.info-box -->

</div>
<div class="col-md-6 col-xs-12">
  <mt-shopping-cart></mt-shopping-cart>
</div>
<!-- FIM DO MENU -->
